.welcomeScreen {
  margin: auto;
}
.welcomeScreen h2 {
  color: #2d3748;
}
button {
  background-color: #fff;
  border-color: #ddd;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 5px 5px;
  padding: 15px 40px;
  border-style: solid;
  cursor: pointer;
}
.startButton {
  padding: 10px 35px;
  font-size: 20px;
  font-weight: bolder;
  background-color: transparent;
  border-color: rgb(36, 12, 83);
  border-radius: 15px;
  margin-bottom: 10px;
}
.questionHeading {
  color: #319795;
  font-size: 35px;
}
.question {
  color: #2d3748;
  font-size: 30px;
  font-weight: bold;
}
.ratingButton {
  padding: 10px 15px;
  margin: 5px;
  background-color: #319795;
  border-color: transparent;
  color: white;
  font-size: 19px;
  border-radius: 10px;
}
.nextButton {
  padding: 15px 40px;
  font-size: 20px;
  margin: 5px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: white;
  color: #319795;
  border-color: #319795;
  font-weight: bold;
}
.questionBox {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 5px 4px -3px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(0, 0, 0, 0.1);
  margin: 30px auto auto;
  padding: 20px;
  width: 50%;
}
.previousButton {
  padding: 15px 21px;
  font-size: 20px;
  margin: 5px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: white;
  font-weight: bold;
}
.skipButton {
  padding: 15px 43px;
  font-size: 20px;
  margin: 5px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: white;
  border-color: rgb(181, 21, 21);
  color: rgb(181, 21, 21);
  font-weight: bold;
}
.feedbackText {
  width: 50%;
  height: 100px;
  border-radius: 10px;
  font-size: 20px;
}
.thanksHeading {
  border: 1px solid;
  width: 50%;
  height: 500px;
  font-size: 30px;
  color: rgb(180, 13, 13);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.lastPara {
  color: rgb(16, 11, 34);
  font-size: 19px;
  font-weight: bold;
}
@media all and (min-width: 651px) and (max-width: 1071px) {
  .questionBox {
    width: 80%;
  }
}

@media all and (min-width: 320px) and (max-width: 650px) {
  .questionBox {
    width: 75%;
  }
  .question {
    font-size: 25px;
  }
  .ratingButton {
    padding: 10px 10px;
    margin: 3px;
  }
  .feedbackText {
    width: 85%;
  }
}
